*{
    margin:0;
    padding: 0;
}
body{
    background-color: #F2F4F6; 

}
/* OPCION DIV's */
.wrapper-header{
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 15px;
}
main{
    margin-top: 15px;
    padding: 5px;
    
}
main > .lista > div {
    display: flex;
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
}
.flex-01{
    flex: 0.1;
}
.flex-05{
    flex: 0.05;
}
input{
  border:none;
}
.logo{
    margin-left: auto;
}

.imaxenAxuste{
    display: flex;
    width: 20px;
    align-items: center;/*se isto non vai o anterior se expande*/
    flex: 1;
}
.actions, .LastEdited, .place, .DateCreated, .FormName{
    flex: 1;
}
.actions > img{
    cursor: pointer;
    width: 16px;
}

.numeros{
  display: flex;
  margin-top: 30px;
}
.numeros > div{
  border: 1px solid rgb(175, 163, 163);
  border-radius: 5px;
  margin-right: 8px;
  padding: 8px;
  cursor: pointer;
}
.numeros > div:hover{
  background-color: rgb(86 80 187);
  color: white;
}
.color-778CA2{
  color: #778CA2;
}

/* Estilo texto Roboto */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }




.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.tamaño-12{
  font-size: 12px;
}
