*{
    margin:0;
    padding: 0;
}
body{
    background-color: #F2F4F6; 

}
header{
  display: flex;
  align-items: center;
}
.actions{
  border: 1px solid black;
    padding: 20px;
    background-color: aliceblue;
    margin: 5px;
}
.actions > img{
  border: 1px solid black;
}
.lista{
  border: 2px solid red;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.logo{
  margin-left: auto;
}
input{
  border: none;
  background-color: inherit;
  text-align: center;
}
.perfil{
  display: flex;
  flex-basis: 150px;
  justify-content: space-between;
  align-items: center;
}
.campana{
  width: 20px;
}
.ajustes{
  width: 25px;
}