*{
    margin:0;
    padding: 0;
}
body{
    background-color: #F2F4F6; 

}
header{
  display: flex;
  align-items: center;
}
.flex-01{
  flex: 0.1;
}
.flex-05{
  flex: 0.05;
}
input{
  border:none;
}
.logo{
  margin-left: auto;
}

.imaxenAxuste{
    display: flex;
    width: 20px;
    align-items: center;
    flex: 1;
}
.wrapper-header{
  
}